<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BeyondMD Twilio App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
<body>

<h1>Hello and Welcome to BeyondMD!</h1>
<h3>Fill out the form below to sign up for our Newsletter!</h3>

<form action="submit.html" method="POST">
  <label for="fname">Username:</label><br>
  <input type="text" id="uname" name="uname" value=""><br>
  <label for="fname">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br>
  <label for="lname">Phone Number:</label><br>
  <input type="text" id="pnum" name="pnum" value=""><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
